.course-title {
    display: flex;
    justify-content: space-between;
}

.cards, .error {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 77vh;
}

.card {
    text-align: center;
    margin-left: 0.5rem;
}

.card-icon, .card-title {
    font-size: 5rem;
}

@media screen and (max-width: 420px) {
    .course-title, .cards {
        display: block;
    }
    .card {
        margin-bottom: 0.5rem;
    }
}
