.title {
    display: flex;
    justify-content: space-between;
}

.title-flex {
    display:"flex";
    flex-direction: "column"
}

.ant-tabs-nav {
    padding-inline: 10vw;
    background-color: white;
}

.title-flex h3, h4 {
    margin-bottom: 0 !important;
}

.title-flex span {
    font-size: 0.75rem !important;
}

.icon-buttons {
    display: flex;
    text-align: center;
}

.flex-child:first-child { 
    margin-right: 10px;
}

.icon-text { 
    font-size: small;
    text-align: center;
    color: #1890ff;
}

.report-text {
    color: red;
}

.divider-title {
    border-left: 3px solid #40a9ff !important;
    padding-left: 0.5rem;
 }

 @media screen and (max-width: 420px) {
    .title {
        display: block;
    }

    .icon-buttons {
        margin-top: 0.5rem;
    }

    .ant-tabs-nav {
        padding-inline: 0;
    }
}