:root {
    --theme: #002a5c
}

.header {
    position: fixed;
    padding-right: 0%;
    padding-left: 1rem;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--theme);
}

.ant-layout-header {
    padding-left: 1rem !important;
    padding-right: 0 !important;
}

.header,
.ant-menu {
    background-color: var(--theme) !important;
}

.logo {
    color: white;
    font-size: 2rem;
}

.theme {
    transform: translate(-3px, 6px)
}

.content {
    padding-top: 4rem;
    /* height: 100vh; */
}

.light {
    background-color: white;
}

.dark {
    background-color: #141414;
}

@media screen and (max-width: 420px) {
    .show-logo {
        display: none;
    }

}