.explanation-btn.active {
    display: block !important;
}

.quiz-results {
    text-align: center;
    margin: auto;
    width: fit-content;
}

.question-description p {
    color: black;
}