.ant-avatar {
    color: black;
    background-color: white !important;
    font-size: 2.5rem !important;
    border: 1px solid #f0f0f0 !important;
}

.badges {
    width: 10rem;
    margin: auto;
}

.profile {
    display: flex;
    justify-content: space-around;
    margin-inline: 10vw;
}

.badges img {
    object-fit: contain;
    width: 2.25rem;
    margin: 0.25rem;
}

@media screen and (max-width: 420px) {
    .profile {
        display: block;
        margin-inline: 0;
    }
}

.profile-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.user-container {
    text-align: center;
    font-size: 1.25rem;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

.badge-container {
    margin-inline: auto;
    width: 100%;
    text-align: center;
}

.timeline-container {
    /* margin-inline: auto; */
    text-align: center;
    font-size: max(0.5rem, 1vw);
}

.profile-header {
    padding: 0;
}