.profile {
    display: flex;
    margin-inline: 10vw;
}

@media screen and (max-width: 600px) {
    .profile {
        display: flex;
        margin-inline: 0;
    } 
}

.profile-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.user-container {
    text-align: center;
    font-size: 1.25rem;
    padding-top: 1vh;
    padding-bottom: 6vh;
}

.badge-container {
    margin-inline: auto;
    width: 100%;
    text-align: center;
}

.badges {
    height: 40vh;
    border: 1px solid black;
}

.timeline-container {
    margin-inline: auto;
    text-align: center;
    font-size: max(0.5rem, 1vw);
}

.color-list-container {
    display: none;
}

.color-list-container.active {
    display: block;
}

.color-list-container .ant-list {
    width: 100%;
    position: absolute; 
    text-align: center; 
    z-index: 1; 
    background-color: white;
}

.color-list-container .ant-list-item:hover,
.color-list-container .ant-list-item:focus {
    cursor: pointer;
    background-color: beige;
}