.duplicate-questions-container .ant-list-items > li:first-child {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.duplicate-questions-container .ant-list-items > li {
    border-left: 0;
    border-right: 0;
}

.duplicate-questions-container .ant-list-items {
    width: 77vw;
}

.duplicates-list-scroll {
    overflow-y: auto;
    height: 300px;
}