.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77vh;
    box-shadow: none !important;
    border: none !important;
}

.spinner {
    font-size: 44px;
}