.submitButton-container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
}

.text-container {
    text-align: center;
    padding-inline: 0.5rem;
}

.solution-title {
   border-left: 3px solid #40a9ff !important;
   padding-left: 0.5rem;
}