.delete {
    color: red;
}

.table {
    overflow-x: auto;
}

.delete-disabled {
    color: #7e7979;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.manage-topic-search {
    width: 250px;
}

@media screen and (max-width: 420px) {
    .toolbar {
        display: block;
    }
    .add-new-topic {
        margin-top: 0.5rem;
    }
}