.modal-img {
    object-fit: contain;
    width: 8rem;
    height: 8rem;
    margin: 0.25rem;
}

.modal-img:hover,
.modal-img:focus {
    cursor: pointer;
}

.active {
    border: 4px green solid;
}