.mc {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    white-space: pre-line;
    margin-bottom: 1rem;
    max-width: 100%;
}

.mc-actions {
    margin-bottom: 0.5rem;
}

.mc-actions-add {
    margin-left: 1.6rem;
}

.ant-checkbox-wrapper {
    margin: 0 !important;
}

.red {
    background-color: #ec6054;
    border-radius: 25px;
    padding-inline: 0.5rem;
    padding-bottom: 0.1rem;
}

.green {
    background-color: #71c037;
    border-radius: 25px;
    padding-inline: 0.5rem;
    padding-bottom: 0.1rem;
}

.explanation-container { 
    margin-top: 1.5rem;
    max-width: 80vw;
}

.explanation-title { 
    border-left: 3px solid #40a9ff !important;
    padding-left: 0.5rem;
}

.mc > span {
    display: block;
    position: relative;
    width: 100%;
}

@media screen and (max-width: 420px) {
    .mc > span {
        min-width: 60vw;
    }
}

/* @media screen and (max-width: 375px) {
    .mc-component {
        display: flex;
        flex-direction: column;
        justify-content: center;yeah
    }
} */