.mc {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    white-space: pre-line;
    margin-bottom: 1rem;
}

.mc-actions {
    margin-bottom: 0.5rem;
}

.mc-actions-add {
    margin-left: 1.6rem;
}

.ant-checkbox-wrapper {
    margin: 0 !important;
}

.red {
    background-color: #ec6054;
    border-radius: 25px;
    padding-inline: 0.5rem;
    padding-bottom: 0.1rem;
}

.green {
    background-color: #71c037;
    border-radius: 25px;
    padding-inline: 0.5rem;
    padding-bottom: 0.1rem;
}
  