:root {
  --radius: 25px;
  --border: 1px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: gray lightgray;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  padding-inline: 10vw;
  background-color: transparent;
}

@media screen and (max-width: 420px) {
  .wmde-markdown * {
    font-size: 0.8rem;
  }
}

/* 
.ant-list-items > li {
  border-left: var(--border) solid #f0f0f0;
  border-right: var(--border) solid #f0f0f0;
}

.ant-list-items > li:first-child {
  border-top: var(--border) solid #f0f0f0;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.ant-list-items > li:last-child {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.ant-list-empty-text {
  border: var(--border) solid #f0f0f0;
  border-radius: var(--radius);
}

.ant-card 
.ant-card, 
.ant-menu-sub, 
.ant-select-selector, 
.ant-select-dropdown,
.ant-btn, 
.ant-popover-inner, 
.ant-message-notice-content, 
.ant-modal-content, 
.ant-modal-header, 
.ant-pagination-item, 
.ant-pagination-item-link,
.ant-input,
input,
.ant-select-selection-item,
.ant-checkbox-inner,
.ant-checkbox-checked:after,
.ant-notification-notice {
  border-radius: var(--radius) !important;
}

.ant-input-affix-wrapper .ant-input {
  border-radius: 0px !important;
} 

.ant-tooltip-inner {
  border-radius: 10px !important;
} */

/* remove box-shadow on immediate card */
.content>.ant-card {
  box-shadow: none !important;
  border: none !important;
  border-radius: 0;
}

.ant-typography {
  margin-top: 0;
  margin-bottom: 0;
}

.ant-tag {
  border-radius: 32px;
}

/* th:first-child {
  border-top-left-radius: var(--radius) !important;
}

th:last-child {
  border-top-right-radius: var(--radius) !important;
}

tr:last-child td:last-child {
  border-bottom-right-radius: var(--radius) !important;
}

tr:last-child td:first-child {
  border-bottom-left-radius: var(--radius) !important;
}

tr td:last-child, tr th:last-child {
  border-right: var(--border) solid #f0f0f0;
}

tr td:first-child, tr th:first-child {
  border-left: var(--border) solid #f0f0f0;
}

tr th {
  border-top: var(--border) solid #f0f0f0;
} */

.wmde-markdown {
  background-color: transparent !important;
}

.wmde-markdown * {
  font-size: 1rem;
}

@media screen and (max-width: 720px) {
  .main-container {
    padding-inline: 0;
  }
}

/* Webkit css */
/* webkit scrollbar compatible with Chrome, Edge, Opera, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 20px;
}

/* TINY MCE STYLES */

button[title="Mathjax"] {
  font-size: 1.5rem !important;
}

.tox-notification {
  display: none !important
}

.tiny-dark body {
  background-color: #222f3e;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  margin: 1rem;
}

.tiny-dark a {
  color: #4099ff;
}

.tiny-dark table {
  border-collapse: collapse;
}

/* Apply a default padding if legacy cellpadding attribute is missing */
.tiny-dark table:not([cellpadding]) th,
.tiny-dark table:not([cellpadding]) td {
  padding: 0.4rem;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
.tiny-dark table[border]:not([border="0"]):not([style*="border-width"]) th,
.tiny-dark table[border]:not([border="0"]):not([style*="border-width"]) td {
  border-width: 1px;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
.tiny-dark .tiny-darktable[border]:not([border="0"]):not([style*="border-style"]) th,
.tiny-dark table[border]:not([border="0"]):not([style*="border-style"]) td {
  border-style: solid;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
.tiny-dark .tiny-darktable[border]:not([border="0"]):not([style*="border-color"]) th,
.tiny-dark table[border]:not([border="0"]):not([style*="border-color"]) td {
  border-color: #6d737b;
}

.tiny-dark figure {
  display: table;
  margin: 1rem auto;
}

.tiny-dark figure figcaption {
  color: #8a8f97;
  display: block;
  margin-top: 0.25rem;
  text-align: center;
}

.tiny-dark hr {
  border-color: #6d737b;
  border-style: solid;
  border-width: 1px 0 0 0;
}

.tiny-dark pre {
  background-color: #171b22;
  border-radius: 6px;
  padding: 1rem;
}

.tiny-dark code {
  background-color: #171b22;
  border-radius: 3px;
  padding: 0.1rem 0.2rem;
}

.tiny-dark .mce-content-body:not([dir=rtl]) blockquote {
  border-left: 2px solid #6d737b;
  margin-left: 1.5rem;
  padding-left: 1rem;
}

.tiny-dark .mce-content-body[dir=rtl] blockquote {
  border-right: 2px solid #6d737b;
  margin-right: 1.5rem;
  padding-right: 1rem;
}

.tiny-light body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  margin: 1rem;
}

.tiny-light table {
  border-collapse: collapse;
}

/* Apply a default padding if legacy cellpadding attribute is missing */
.tiny-light table:not([cellpadding]) th,
.tiny-light table:not([cellpadding]) td {
  padding: 0.4rem;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
.tiny-light table[border]:not([border="0"]):not([style*="border-width"]) th,
.tiny-light table[border]:not([border="0"]):not([style*="border-width"]) td {
  border-width: 1px;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
.tiny-light table[border]:not([border="0"]):not([style*="border-style"]) th,
.tiny-light table[border]:not([border="0"]):not([style*="border-style"]) td {
  border-style: solid;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
.tiny-light table[border]:not([border="0"]):not([style*="border-color"]) th,
.tiny-light table[border]:not([border="0"]):not([style*="border-color"]) td {
  border-color: #ccc;
}

.tiny-light figure {
  display: table;
  margin: 1rem auto;
}

.tiny-light figure figcaption {
  color: #999;
  display: block;
  margin-top: 0.25rem;
  text-align: center;
}

.tiny-light hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0 0;
}

.tiny-light pre {
  background-color: #f6f8fa;
  border-radius: 6px;
  padding: 1rem;
}

.tiny-light code {
  background-color: #f6f8fa;
  border-radius: 3px;
  padding: 0.1rem 0.2rem;
}

.tiny-light .mce-content-body:not([dir=rtl]) blockquote {
  border-left: 2px solid #ccc;
  margin-left: 1.5rem;
  padding-left: 1rem;
}

.tiny-light .mce-content-body[dir=rtl] blockquote {
  border-right: 2px solid #ccc;
  margin-right: 1.5rem;
  padding-right: 1rem;
}