:root {
  --radius: 25px;
  --border: 1px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: gray lightgray;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  padding-inline: 10vw;
  background-color: transparent;
}

/* 
.ant-list-items > li {
  border-left: var(--border) solid #f0f0f0;
  border-right: var(--border) solid #f0f0f0;
}

.ant-list-items > li:first-child {
  border-top: var(--border) solid #f0f0f0;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.ant-list-items > li:last-child {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.ant-list-empty-text {
  border: var(--border) solid #f0f0f0;
  border-radius: var(--radius);
}

.ant-card 
.ant-card, 
.ant-menu-sub, 
.ant-select-selector, 
.ant-select-dropdown,
.ant-btn, 
.ant-popover-inner, 
.ant-message-notice-content, 
.ant-modal-content, 
.ant-modal-header, 
.ant-pagination-item, 
.ant-pagination-item-link,
.ant-input,
input,
.ant-select-selection-item,
.ant-checkbox-inner,
.ant-checkbox-checked:after,
.ant-notification-notice {
  border-radius: var(--radius) !important;
}

.ant-input-affix-wrapper .ant-input {
  border-radius: 0px !important;
} 

.ant-tooltip-inner {
  border-radius: 10px !important;
} */

/* remove box-shadow on immediate card */
.content > .ant-card {
  box-shadow: none !important;
  border: none !important;
  border-radius: 0;
}

.ant-typography {
  margin-top: 0;
  margin-bottom: 0; 
}

.ant-tag {
  border-radius: 32px;
}

/* th:first-child {
  border-top-left-radius: var(--radius) !important;
}

th:last-child {
  border-top-right-radius: var(--radius) !important;
}

tr:last-child td:last-child {
  border-bottom-right-radius: var(--radius) !important;
}

tr:last-child td:first-child {
  border-bottom-left-radius: var(--radius) !important;
}

tr td:last-child, tr th:last-child {
  border-right: var(--border) solid #f0f0f0;
}

tr td:first-child, tr th:first-child {
  border-left: var(--border) solid #f0f0f0;
}

tr th {
  border-top: var(--border) solid #f0f0f0;
} */

.wmde-markdown {
  background-color: transparent !important;
}

.wmde-markdown * {
  font-size: 14px;
}

@media screen and (max-width: 720px) {
  .main-container {
    padding-inline: 0;
  }
}

@media screen and (max-width: 420px) {
  .wmde-markdown * {
    font-size: 12px;
  }
}



/* Webkit css */
/* webkit scrollbar compatible with Chrome, Edge, Opera, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 20px;
}