.before,
.after,
.unrated,
.rated {
    display: none;
}

.before.active,
.after.active,
.unrated.active,
.rated.active {
    display: block;
}

.rating-container {
    margin-top: 4rem;
    text-align: center;
}